@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(16,25,56);
  background: linear-gradient(52deg, rgba(16,25,56,1) 25%, rgba(8,11,78,1) 73%, rgba(2,6,24,1) 94%);
  
  color: 	white ; 
}

@keyframes animate-from-top {
  from {
    opacity:0;
    transform: translateY(-40px) scale(0.9);
  }
  to {
    opacity:1;
    transform: translateY(0px) scale(1);
  }
}


.animate-from-top {
  animation: animate-from-top 1150ms ease-in-out ;
 
}

